@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   max-width: 1280px;
   margin: 0 auto;
   background-color: #f5f5f5;
   font-family: "Fira Sans", serif;
}

/* Shared style */
.btn-primary {
   color: #fff;
   background-color: #006a50;
   font-size: 18px;
   font-weight: 500;
   padding: 13px 26px;
   border-radius: 8px;
   border: none;
}

.section-title {
   color: #0e0e0e;
   font-size: 40px;
   font-weight: 700;
}

.section-description {
   color: #36383c;
   font-size: 16px;
   line-height: 24px;
}

/* Navbar style */
nav {
   margin: 24px 0 44px 0;
}

nav > ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

nav > ul > li {
   list-style: none;
}

.site-name {
   color: #0e0e0e;
   font-size: 32px;
   font-weight: 700;
}

.nav-btn {
   color: #006a50;
   font-size: 18px;
   font-weight: 500;
   padding: 13px 26px;
   border-radius: 8px;
   border: 1px solid #006a50;
   cursor: pointer;
   transition: 0.4s;
}

.nav-btn:hover {
   background-color: #006a5028;
}

/* Banner section */
.banner {
   background-color: #c6e4d6;
   border-radius: 24px;
   padding: 80px 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 64px;
}

.banner .subtitle {
   color: #6a7972;
   font-size: 24px;
   font-weight: 500;
}

.banner .title {
   color: #0e0e0e;
   font-size: 56px;
   font-weight: 700;
   margin: 16px 0 24px 0;
}

/* Vision section style */
.vision {
   margin: 80px 0 32px 0;
}
.vision-details {
   margin: 24px 0 32px 0;
}

.vision-box {
   display: flex;
   gap: 24px;
}

.card {
   background-color: #d5e1f5;
   padding: 30px;
   border-radius: 16px;
   width: 100%;
}

.card h3 {
   color: #36383c;
   font-size: 30;
   font-weight: 700;
   margin-top: 24px;
}

.card p {
   color: #6a7972;
   font-size: 16px;
   line-height: 24px;
   margin: 12px 0 24px 0;
}

.card button {
   color: white;
   font-weight: 600;
   border-radius: 8px;
   padding: 11px 20px;
   border: none;
   cursor: pointer;
   transition: 0.4s;
}

.green-box {
   background-color: #c6e4d6;
}

.modern-box {
   background-color: #f7ebcf;
}

.digital-btn {
   background-color: #5490f5;
}

.green-btn {
   background-color: #09a15c;
   margin-top: 23px;
}

.modern-btn {
   background-color: #ffc239;
}

.digital-btn:hover {
   background-color: #4878ca;
}

.green-btn:hover {
   background-color: #09864e;
   margin-top: 23px;
}

.modern-btn:hover {
   background-color: #d6a531;
}

/* Recent News */
.news {
   display: flex;
   gap: 32px;
   background-color: white;
   padding: 48px;
   border-radius: 24px;
   margin-bottom: 24px;
}

.satelite img {
   border-radius: 24px;
}

.news-title {
   font-size: 32px;
   font-weight: 700;
   color: #0e0e0e;
}

.news-portal {
   margin: 12px 0 12px 0;
}

.published-date, .news-details {
   color: #565656;
}

.news-details {
   margin: 12px 0 32px 0;
}


/* Donate Today */
.donate {
   margin-bottom: 80px;
}

.donate-today {
   text-align: center;
   max-width: 1104px;
   margin: 0 auto;
   padding-top: 56px;
}

.donate-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.donate-amount {
   background-color: white;
   font-size: 40px;
   font-weight: 700;
   padding: 40px;
   border-radius: 16px;
   border: 1px solid #dbdbdb;
   transition: .4s;
}

.donate-amount:hover {
   background-color: #c6e4d6;
}

.donate-active {
   background-color: #c6e4d6;
}